html,body{
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: linear-gradient(to right,rgb(28, 214, 28), rgb(7, 188, 7), rgb(0, 120, 0)) ;
}

*{
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
}

.cont-head {
    color: white;
    background-color: black;
    text-align: center;
    font-size: 30px;
}
.cards{
    position: relative;
    width: 120px;
    height: auto;
    margin-left: -90px;
    left: 120px;
}

body.swal2-shown > [aria-hidden="true"] {
    transition: 0.2s filter;
    filter: blur(8px);
}


